@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid black;
    z-index: -1;
}

.countdown-cc {
    width: 70vw;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 99;
}

.cc {
    color: #FFFDE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cc p {
    font-size: 6rem;
    line-height: 1.4;
}
.cc span {
    font-size: 1.6rem;
}